/* selettore per h1 */
h1 {
    font-size: 36px;
    height: 10px;
    margin-top: 10px
}

p {
    font-size: 12px;
}

a {
    text-decoration: none;
    color: rgb(137, 207, 231);
}

/* selettore per id */
#logo {
    height: 70px;
    background-color: #9cd6f4;
    background-image: url(img/pattern.png);
    background-size: 300px;
}

#generic_text {
    padding: 5px 0;
}

#article_info {
    font-size: 10px;
    color: #a7a6a6;
    padding-top: 5px;
}

#images_section {
    height: 325px;

}

#list_section {
    font-size: 12px;
    text-align: left;
}

#color_text {
    background-color: yellow;
}

#photos_info {
    font-size: 10px;
    margin-top: 5px;
}

#biggest_cell {
    width: 50%;
}

#copyright_section {
    background-color: #313a6b;
    color: #ffffff;
    text-align: center;
    margin: 30px; 
    padding: 10px;
}


#white_color {
    background-color: #ffffff;
}

#logo_img {
    margin: 20px;
}

/* selettore per tag */
table {
    font-size: 12px;
    table-layout: fixed;
    caption-side: left;
    border: #ffffff;
}

th {
    color: #ffffff;
    background-color: #7fa6fb;
    text-align: left;
}

/*selettore per discendenza */
section span {
    font-size: 12px;
    background-color: #7fa6fb;
    width: 50%;
}

/* selettore per classe */
.box {
    border: 2px solid #ffffff;
}

.lightblue_color {
    background-color: #dfe5f2;
}