/* nselettore per h1 */
h1 {
    font-size: 36px;
    height: 10px;
}

p {
    font-size: 12px;
    height: 40px;
}

a {
    text-decoration: none;
    color: rgb(137, 207, 231);
}

/* selettore per id */
#title_section {
    font-size: 10px;

}

#article_info {
    color: rgb(167, 166, 166);
    height: 30px;
}

#images_section {
    height: 325px;
}

#list_section {
    font-size: 12px;
    text-align: left;
}

#color_text {
    background-color: yellow;
}
#max {
    width: 50%;
}

/* selettore per tag */
table {
    font-size: 12px;
    color: #ffffff;
    background-color: #7fa6fb;
    table-layout: fixed;
    caption-side: left;
}

tr {
    border: 10 px solid #ffffff;
}
/*selettore per discendenza */
div img {
    height: 330px;
}

section span {
    font-size: 12px;
    background-color: #7fa6fb;
    width: 50%;
}

/* selettore per classe 
.box {
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
    height: 15px;
    background-color: #7fa6fb;
}*/